Source: dba-qcfilter
Section: science
Priority: extra
Maintainer: Enrico Zini <enrico@enricozini.org>
Build-Depends: debhelper (>= 12), python3-dballe
Standards-Version: 3.9.2
Vcs-Svn: https://github.com/ARPA-SIMC/dba_qcfilter/

Package: dba-qcfilter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Quality control filter for generic BUFR
 This utility reads any kind of BUFR interpreted by wreport and discards the
 invalid data.
